*{
    /* background-color: #1F2937; */
    font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh;
  width: 100vw;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}
.section-one{
    background-color: #1F2937;
    color: white;
    padding-top: 30px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 130px;  
}
.flex-container{
    /* color: white;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px; */
    display: flex;
}
.flex-container div {
    
    flex: 1;
}
.flex-container .logo{
    font-weight: 1000;
    flex: 7 1 0%;

}
.section-one-two{
    margin-top: 100px;
    display: flex;
}
.section-one-two div {
    flex: 1;
}
h1 {
    font-weight: 1000;
    font-size: 250%;
}
button {
    background-color: #3882f6;
    color: white;
    width: 100px;
    height: 30px;
    font-weight: 600;
    border-radius: 10px;
    border: #3882f6;
}
.right{
    background-color: #898c92;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    text-align: center;
}